@import "./../../globals";


.category-container {
    user-select: none;
    position: relative;
    height: 200px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;


    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        border-radius: 2px;

    }

    &:hover img {
        transform: scale(1.1);
    }

    &:hover .category-container-body {
        opacity: 0.95;
    }

    .category-container-body {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $light;

        opacity: 0.8;
        border-radius: 5px;

        h2 {
            font-size: 22px;
            text-transform: uppercase;
        }

        p {
            font-size: 14px;
        }
    }
}