.cart-dropdown {
    display: none;
    position: absolute;
    border: 1px solid silver;
    padding: 16px;
    cursor: default;
    border-radius: 2px;
    right: 30px;
    top: 55px;
    height: 300px;
    z-index: 100;
    background-color: white;
    width: 250px;
    box-shadow: 0px 0px 2px silver;


    .cart-dropdown-body {
        height: 250px;
        overflow-y: auto;


    }
}