@import "./../../globals";
.PageNotFound{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: $danger;
    padding: 16px;
}
.PageNotFound h1{
    font-size: 64px;
    animation: PopOut 0.3s ease-in-out;

}
.PageNotFound p{
    animation: PopOut 0.3s ease-in-out;

}

