@import "../../globals";

.product-card-container{
    border-radius: 3px;
    overflow: hidden;
    position: relative;


    & img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        border-radius: 2px;
    }

    &:hover img {
        opacity: 0.8;
    }
    
    .addCart{
        width: 100%;
        cursor: pointer;
        position: absolute;
        left: 50%;
        bottom: 4px;
        transform: translateX(-50%);
        font-size: 12px;

        color: $secondary;
        font-weight: bold;
        background-color: white;
        border: 1px solid $secondary;
        border-top: none;
        border-radius: 0px 0px 4px 4px;
        opacity: 0.9;
        &:hover{
            color: white;
            background-color: $secondary;
            opacity: 0.9;
        }
        &:active{
            opacity: 1;
        }
    }


    .body{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        background-color: $secondary;
        opacity: 0.8;
        padding: 8px 16px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}