@import "./../../globals";

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 16px 32px 16px 32px;

    a {
        margin-right: auto;
        text-decoration: none;
        color: $primary;
        font-size: 14px;
        &:hover {
            color: $primaryDark;
        }
    }

    .navMenu {
        list-style-type: none;

        li {
            display: inline-block;

            margin-left: 25px;
        }

    }
}