@import "./../../globals";

.navbar {
    position: relative;
    padding: 16px 32px 16px 32px;
    h1{
        display: inline;
    }
    a {
        text-decoration: none;
        color: $primary;
        font-size: 14px;
        &:hover {
            color: $primaryDark;
        }
    }

    .navMenu {
        position: absolute;
        list-style-type: none;
        top: 50%;
        transform: translateY(-50%);
        right: 32px;

        li {
            display: inline;
            margin-left: 25px;
        }

    }
}
