@import "./../../globals";

.categories-container {
    @include fixWidth();
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 16px;
}

@media only screen and (min-width:500px) {
    .categories-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:700px) {
    .categories-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width:900px) {
    .categories-container {
        display: grid;
  grid-template-columns: repeat(4, 1fr);
    }
}
