.auth-container {
    display: flex;
    flex-direction: column;

    &>div {
        width: 100%;
    }

    &>div:first-child {
        margin-right: 16px;
    }
}

@media only screen and (min-width: 700px) {
    .auth-container {
        flex-direction: row;

    }
}