@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import "./globals";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light;
}
