@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import "./globals";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
img {
  pointer-events: none;
}
.disable-selection{

  user-select: none;
}

.body-max-width{
  margin: 0 auto;
  max-width: 1000px;
  padding: 16px;
}